/* You can add global styles to this file, and also import other style files */
body{
    padding:0;
    margin:0;
    overflow: hidden;
}

img{
    width:100%;
    object-fit: cover;
}

/* ########### FONTS ############################# */
@font-face {
    font-family: 'bitcount';
    src: url(./assets/fonts/BitcountGridDouble-Regular.ttf);
}


section{
    width:100%;
    max-width: 1400px;
    margin:auto;
}

.teaser{
    font-size:2.5rem;
    font-family: "bitcount";
    padding:0;
    margin:0;
}


/* #################################### RESPONSIVE AND MEDIA QUERIES ################################ */


@media (max-width:480px){
    .teaser{
        font-size: 2rem;
    }
}

@media (max-width:380px){
    .teaser{
        font-size:1.6rem;
    }
}