/* You can add global styles to this file, and also import other style files */

*{
    box-sizing: border-box;
}


body{
    padding:0;
    margin:0;
    overflow-x: hidden;
}

img{
    width:100%;
    object-fit: cover;
}

/* ########### FONTS ############################# */
@font-face {
    font-family: 'bitcount';
    src: url(./assets/fonts/BitcountGridDouble-Regular.ttf);
}


section{
   /*  width:100%; */
    max-width: 1400px;
    margin:auto;
}

.teaser{
    font-size:3rem;
    font-family: "bitcount";
    padding:0;
    margin:0;
}

.teaser-secondary{
    font-size:2rem;
    font-family: "bitcount";
    padding:0;
    margin:0;
}

.btn{
    padding:1rem;
    font-size:1.3rem;
    background-color: darkorchid;
    border:none;
    border-radius:8px;
    color:#fff;
    transition: box-shadow 0.225s ease-in-out;
}

.btn:hover{
    cursor:pointer;
    box-shadow: 0 10px 30px lightgrey;
}


/* #################################### RESPONSIVE AND MEDIA QUERIES ################################ */


@media (max-width:1450px){
    section{
        padding:0 120px;
    }
}

@media (max-width:768px){
    section{
        padding: 0 40px;
        margin-top:2rem !important;
    }
}

@media (max-width:550px){

    .teaser{
        font-size:2.5rem;
    }

    .teaser-secondary{
        font-size:1.6rem;
    }
}

@media (max-width:480px){
    section{
        padding:0 15px;
    }

    .teaser{
        font-size: 2rem;
    }

    .btn{
        font-size:1.1rem;
        padding:0.5rem;
        min-width:100px;
    }
}

@media (max-width:380px){
    .teaser{
        font-size:1.6rem;
    }

    .teaser-secondary{
        font-size:1.2rem;
    }
}



